{% extends "base.html" %}

{% block title %} Accueil {% endblock %} 

{% block content %}
      <div class = "blocaccueil">
         <h1>Identification:</h1>
         {% if error %}
         <p class="err">{{error}}</p>
         {% endif %}
         <span id = "auth-err"></span>
         <form id="authentification" action="/" method="POST">
            <table>
               <tr>
                  <td><label for="matricule">Matricule:</label></td>
                  <td><input type="text" id="matricule" name="matricule"></td>
               </tr>
               <tr>
                  <td><input type="submit" value="confirmer" id="sub"></td>
                  <td></td>
               </tr>
            </table>
         </form>
      </div>
      <script src="{{ url_for('static', filename = 'auth.js' ) }}"></script>
{% endblock %}