{% extends "base.html" %}

{% block title %} Modifier un horaire {% endblock %} 

{% block content %}
      <div class="blocmodifierheure">
         <h1>User: {{ matricule }} <br>
            Date:  {{ date_du_jour }} <br>
         </h1>
         <h1>Modifier un horaire</h1>
         {% if error %}
         <p class="err">{{error}}</p>
         {% endif %}
         <span id = "code-projet-modif-err"></span>
         <span id = "duree-modif-err"></span>
         <form id="modificationhoraire" action="/update/{{ matricule }}/{{ date_du_jour }}/{{ id }}" method="POST">
            <table>
               <tr>
                  <td><label for="codeprojet">Code de projet:</label></td>
                  <td><input type="text" id="codeprojet" name="codeprojet"></td>
                  <td><label for="duree">Durée:</label></td>
                  <td><input type="number" id="duree" name="duree"></td>
               </tr>
               <tr>
                  <td><input type="submit" value="Confirmer" id=sub></td>
                  <td></td><td></td><td></td>
               </tr>
            </table>
         </form>
      </div>
      <script src="{{ url_for('static', filename = 'edit.js' ) }}"></script>
{% endblock %}