<!DOCTYPE html>
<html lang="fr">
   <head>
      <meta charset="utf-8">
      <title>Overview</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
   </head>
   <body>
      <div class="blocoverview">
         <h1>Overview <br>
            <a href='{{ url_for('mois_precedent', matricule=matricule, mois=mois)}}'>-</a>
            {{ mois_string }}
            <a href='{{ url_for('mois_suivant', matricule=matricule, mois=mois)}}'>+</a>
         </h1>
         <div class="days">
            {% for day in day_month_min %} 
            <a href="{{ url_for( 'heure', matricule=matricule, date_du_jour=day[0]) }}">
               <div class="jours-min">
                  <div>{{ day[0][8:10] }}</div>
                  <div>total: {{ '%0.2f'|format(day[1]/60|float) }} h</div>
               </div>
            </a>
            {% endfor %}  
         </div>
      </div>
   </body>
</html>